}
body{
	font-family:"Arial", sans-serif;
	font-size:14px;
        color:#fff;
	margin:px;

}
.container{
	max-width:1024px;
	margin:0 auto;
	float:center;
	width:100%;
}

header{
	padding:10px 20px;
	background:#999;
	text-align: center;
}
main{
	padding:20px;
	background:#aaa;
